*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
  background-image: url('https://images.unsplash.com/photo-1620812097331-ff636155488f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.login{
  /* border: 2px solid tomato; */
  width: 444px;
  height: 454px;
  flex-shrink: 0;
  border-radius: 23px;
  background: rgb(207, 225, 227);
  box-shadow: 3px 3px 3px 3px white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}

.login p{
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login h2{
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login label{
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login input{
  padding: 10px;
  font-size: 18px;
}

.login button{
  display: flex;
  width: 445px;
  height: 45px;
  padding: 9px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px; /* 112.5% */
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 35px;
}

.login button:hover{
  background:#2e2a7b ;
}

a{
  color: #625BF7;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}


/* ---------------------------------------------------------------------------------- */

/* SecondPage */

.profilePage{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.profilePage h1{
  text-align: center;
  color: rgb(225, 237, 240);
  text-shadow: 1px 1px 20px rgb(10, 10, 10);
  font-size: 80px;
  margin-bottom: 50px;
  margin-left: -50px;
}

.details{
  /* border: 3px solid crimson; */
  font-size: 25px;
  color: rgb(212, 231, 245);
  font-weight: 600;
  width: 550px;
  background-color: rgb(121,150,154);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 5px 5px 20px rgb(53, 54, 55);
  margin-top: 60px;
  text-shadow: 1px 1px 20px rgb(12, 12, 12);
}

.details p{
  margin-bottom: 16px;
  margin-inline: 30px;
}

img{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px rgb(189, 191, 193), 0px 0px 0px 7px rgb(121,150,154);
  left: 205px;
  top: -30px;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
  margin-bottom: -90px;
}


@media screen and (max-width: 650px) {
  .profilePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }

  .details{
    scale: 0.8;
  }

  .profilePage h1{
    text-align: center;
    color: rgb(225, 237, 240);
    text-shadow: 1px 1px 20px rgb(10, 10, 10);
    font-size: 70px;
    margin-bottom: -80px;
    margin-left: -50px;
  }

  .login{
    scale: 0.8;
  }
}